[run]
source =
    music21/

omit =
    music21/test/timeGraph*

[report]
exclude_lines =
    if __name__ == .__main__.:
    if debug:
    if self.debug:
    if self.show:
    def x_test
    def xtest
    pragma: no cover
