[run]
source =
    music21/
    /home/travis/music21base/music21
    /home/travis/music21base

omit =
    music21/test/timeGraph*

[report]
exclude_lines =
    if __name__ == .__main__.:
    if debug:
    if self.debug:
    class TestExternal(unittest.TestCase):
    pragma: no cover
