[flake8]
ignore=
  E127,  # over indented
  E128,  # under indented
  E302,  # blank lines
  E303,  # blank lines
  E501,  # let pylint check line length
  E722,  # let pylint check bare except
  E731,  # do not assign a lambda
  F401,  # let pylint check for imported but unused (wildcards and exports trigger)
  F405,  # __all__ is okay to get from wildcard.
  F821,  # let pylint check for undefined (del at end of module makes undefined)
  F841,  # let pylint check for unused
  W391,  # extra blank lines at end of file
  W503,  # line break BEFORE binary operator

max-line-length=100
