[flake8]
ignore=
  # over indented
  E127,
  # under indented
  E128,
  # space around | -- nice to omit in  int|str
  E227,
  # 0 blank lines -- good test but something going wrong in new algorithm
  E301,
  # blank lines
  E302,
  # blank lines
  E303,
  # let pylint check line length
  E501,
  # let pylint check bare except
  E722,
  # do not assign a lambda
  E731,
  # let pylint check for imported but unused (wildcards and exports trigger)
  F401,
  # __all__ is okay to get from wildcard.
  F405,
  # let pylint check for undefined (del at end of module makes undefined)
  F821,
  # let pylint check for unused
  F841,
  # extra blank lines at end of file
  W391,
  # line break BEFORE binary operator
  W503,

exclude=
  .git,
  __pycache__,
  *.pyc,
  ext,

# F403 = from module import *

per-file-ignores =
  music21/chord/tables.py:E122,E124,E201,E202,E203,E221,E231,E241
  music21/common/__init__.py:F403
  music21/features/__init__.py:F403
  music21/search/__init__.py:F403

max-line-length=100

inline-quotes = single
multiline-quotes = '''
docstring-quotes = '''
