-r requirements.txt
wheel
pylint>=3.2.0
flake8<7.0.0
flake8-quotes>=3.3.2
hatchling
mypy>=1.13.0
coveralls
scipy
sphinx
python-Levenshtein
coverage
nbconvert
jupyter
nbval
pytest
docutils
types-requests
twine
hatch
