 
body {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:#ccc}

div#wrapper {width:1320px; margin: 0 auto; background:#fff; padding:10px}

div#content {float:left; width:800px}
div#interface {float:right; width:500px; background:#eee; padding:10px}
div#footer {clear:both}

p.footer {font-size:9px; text-align:center}

p.smaller {font-size:12px}

/* */

p.code { font-family:"Courier New", Courier, monospace}

/* Homepage-specific styles */

div#homepagewrapper {width:700px; margin: 0 auto; background:#FFF; padding:10px}

div.appCategoryContainer { margin-left:20px; }

p.appDescription { margin-left:30px; margin-top:0px}


/* File upload-specific styls */

div#uploadcontainer {width:500px; margin: 0 auto; background:#FFF; padding:10px}
