
body {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

div#wrapper {width:1300px; margin: 0 auto}

div#content {float:left; width:800px}
div#interface {float:right; width:500px}

p.smaller {font-size:12px}

p.code { font-family:"Courier New", Courier, monospace}