
body {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:#ccc}

div#wrapper {width:800px; margin: 0 auto; background:#fff; padding:10px}

div#displaywrapper {width:500px; height:30px; margin: 0 auto; background:#EEE; padding:0px; position:relative;}
div#displayprogress {width:0px; height:30px; margin: 0 0 auto 0; background:#BBB; padding:0px;}

div#trigger {width:600px; height:50px; margin: 0 auto; background:#63DAD1; padding:5px; cursor:pointer}

div#pause {position:absolute; margin:auto; left:505px; top:5px; background:#C00; height:20px; width:20px; cursor:pointer; text-align:center;}
div.marker {width:2px; height:30px; margin:0; background:#333; position:absolute; top:0}

p#triggerInstructions {text-align:center}

/* ** */

div#content {float:left; width:800px}
div#interface {float:right; width:500px; background:#eee; padding:10px}
div#footer {clear:both}

p.footer {font-size:9px; text-align:center}

p.smaller {font-size:12px}

p.code { font-family:"Courier New", Courier, monospace}

/* Homepage-specific styles */

div#homepagewrapper {width:700px; margin: 0 auto; background:#FFF; padding:10px}

div.appCategoryContainer { margin-left:20px; }

p.appDescription { margin-left:30px; margin-top:0px}


/* File upload-specific styls */

div#uploadcontainer {width:500px; margin: 0 auto; background:#FFF; padding:10px}
