name: maincheck

on:
    push:
        branches:
        - master
        - '*CI*'
    pull_request:
        branches:
        - '*'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/checkout@v2
    - name: Install Ubuntu dependencies
      run: ./.github/scripts/install_ubuntu_deps.sh
    - name: Setup Lilypond
      run: python -c 'from music21 import environment; environment.UserSettings()["lilypondPath"] = "/home/runner/bin/lilypond"'
    - name: Run Main Test script
      run: python -c 'from music21.test.testSingleCoreAll import ciMain as ci; ci()'
    - name: Coveralls GitHub Action
      if: ${{ matrix.python-version == '3.7' }}
      uses: coverallsapp/github-action@v1.1.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
