name: PyLint

on:
    push:
        branches:
            - master
            - '*CI*'
    pull_request:
        branches:
            - '*'

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                  python-version: '3.8'
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install IPython
                  pip install pylint
            - name: Install music21 in editable mode
              run: |
                  python -m pip install -e .
            - name: Lint with pylint
              run: |
                  pylint -j0 music21
                  pylint -j0 documentation

    flake:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                  python-version: '3.8'
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install flake8
            - name: PEP8 with flake8
              run: |
                  flake8 music21
                  flake8 documentation

    mypy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                  python-version: '3.10'
            - name: Install mypy
              run: |
                  python -m pip install mypy
            - name: Type-check certain modules with mypy
              run: |
                  mypy --follow-imports=silent music21/*.py music21/abcFormat music21/analysis music21/capella music21/common music21/corpus music21/features music21/figuredBass music21/humdrum music21/ipython21 music21/languageExcerpts music21/lily music21/mei music21/metadata music21/musedata music21/noteworthy music21/omr music21/romanText music21/stream music21/test music21/vexflow
